.home {
  padding-top: 3.5rem;
  min-height: 100%;
  max-width: 1200px;
  margin: auto;
}

@media only screen and (max-width: 1000px) {
  h5 {
    margin-left: 1rem;
  }
}
/**nav**/
.card-nav .nav-link {
  color: rgb(14, 14, 14);
  min-width: 7rem;
  text-align: center;
}
.card-nav .nav-link.active {
  border-bottom: 0.5rem solid rgb(81, 150, 143);
}
.card-nav{
  display: flex;
  overflow: auto;
  flex-wrap: nowrap;
  border-bottom: 0.2rem solid rgb(81, 150, 143);
}
/**cards**/
.card-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  padding: 1rem;
  margin-bottom: 1rem;
}
.card {
  min-width: 12rem;
  max-width: 12rem;
  margin: 0.5rem;
  line-height: 2rem;
}
a.card, a.card:hover{
  color: rgb(14, 14, 14);
  text-decoration: none;
}
.card-img-top {
  height: 150px;
  background-color: gray;
}
/**project-type**/
.project-type {
  line-height: 4rem;
}
.project-type .tag{
  background-color: rgb(81, 150, 143);
  color: rgb(250, 255, 250);
  font-size: 2rem;
  margin: 0.5rem;
}
