.home {
  padding-top: 3.5rem;
  min-height: 100%;
  max-width: 1000px;
  margin: auto;
}

.card-nav .nav-link {
  color: rgb(14, 14, 14);
  min-width: 7rem;
  text-align: center;
}
.card-nav .nav-link.active {
  border-bottom: 0.5rem solid rgb(81, 150, 143);
}
.card-nav{
  display: flex;
  overflow: auto;
  flex-wrap: nowrap;
  border-bottom: 0.2rem solid rgb(81, 150, 143);
}
/**cards**/
.card-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  padding: 1rem;
}
.card {
  min-width: 12rem;
  max-width: 12rem;
  margin: 0.5rem;
  line-height: 2rem;
}
a.card, a.card:hover{
  color: rgb(14, 14, 14);
  text-decoration: none;
}
.card-img-top {
  height: 150px;
  background-color: gray;
}
