.project {
  padding-top: 3.5rem;
  min-height: 100%;
}
h5 {
  margin-top: 2rem;
}
/**jumbotron**/
.jumbotron {
  margin-bottom: 0;
}
.jumbotron .row{
  max-width: 1200px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.jumbotron img{
  width: 15rem;
  height: 15rem;
  margin: 1rem;
}
/**nav**/
.my-nav .nav-link {
  color: rgb(14, 14, 14);
  min-width: 7rem;
  text-align: center;
}
.my-nav .nav-link.active {
  border-bottom: 0.5rem solid rgb(81, 150, 143);
}
.my-nav{
  display: flex;
  overflow: auto;
  flex-wrap: nowrap;
  border-bottom: 0.2rem solid rgb(81, 150, 143);
  margin-bottom: 2rem;
}
