{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}
{% block title %}Home{% endblock %}

{% block body %}
<div class="home container">
  <nav>
    <div class="nav my-nav">
      <a class="nav-item nav-link active" href="">網頁設計</a>
      <a class="nav-item nav-link" href="">行動應用</a>
      <a class="nav-item nav-link" href="">物聯網</a>
      <a class="nav-item nav-link" href="">桌面應用</a>
      <a class="nav-item nav-link" href="">遊戲設計</a>
    </div>
  </nav>
  <div class="card-container">
    <a class="card" href="{{ url_for('project', project_id=0) }}">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Flask部落格</h5>
        <span class="tag">Flask</span>
        <span class="tag">JQuary</span>
      </div>
    </a>
    <a class="card" href="{{ url_for('project', project_id=0) }}">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Flask部落格</h5>
      </div>
    </a>
    <a class="card" href="{{ url_for('project', project_id=0) }}">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Flask部落格</h5>
      </div>
    </a>
  </div>
  <div class="project-type">
    <h5>更多專案</h5>
    <a class="tag" href="#">Python</a>
    <a class="tag" href="#">Java</a>
    <a class="tag" href="#">C++</a>
    <a class="tag" href="#">C#</a>
    <a class="tag" href="#">Javascript</a>
    <a class="tag" href="#">Javascript</a>
    <a class="tag" href="#">Javascript</a>
    <a class="tag" href="#">Javascript</a>
    <a class="tag" href="#">Javascript</a>
  </div>
</div>
{% endblock %}
