{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/project.css') }}">
{% endblock %}
{% block title %}Project{% endblock %}

{% block body %}
<div class="project">
  <!--jumbotron-->
  <div class="jumbotron jumbotron-fluid d-flex flex-row justify-content-center">
    <div class="row flex-md-row-reverse">
      <div class="col-12 col-md-4 d-flex align-items-center justify-content-center">
        <img src="https://image.flaticon.com/icons/svg/119/119583.svg" alt="project image">
      </div>
      <div class="col-12 col-md-8 text-center text-md-left">
        <h2>Flask</h2>
        <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <a class="btn btn-primary" href="{{ url_for('home') }}">詳細內容</a>
      </div>
    </div>
  </div>
  <!--content-->
  <div class="container">
    <nav>
      <div class="nav my-nav" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-overview-tab" data-toggle="tab" href="#nav-overview" role="tab" aria-controls="nav-overview" aria-selected="true">說明</a>
        <a class="nav-item nav-link" id="nav-user-story-tab" data-toggle="tab" href="#nav-user-story" role="tab" aria-controls="nav-user-story" aria-selected="false">User Story</a>
        <a class="nav-item nav-link" id="nav-learning-resources-tab" data-toggle="tab" href="#nav-learning-resources" role="tab" aria-controls="nav-contact-learning-resources" aria-selected="false">學習資源</a>
        <a class="nav-item nav-link" id="nav-team-tab" data-toggle="tab" href="#nav-team" role="tab" aria-controls="nav-team" aria-selected="false">團隊</a>
      </div>
    </nav>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">
        <h5>簡介</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <h5>功能描述</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="tab-pane fade" id="nav-user-story" role="tabpanel" aria-labelledby="nav-user-story-tab">
        <ul>
          <li>
            <input class="form-check-input" id="user-story-checkbox-1" type="checkbox">
            <label class="form-check-label" for="user-story-checkbox-1">
              User Story1:
            </label>
          </li>
          <li>
            <input class="form-check-input" id="user-story-checkbox-2" type="checkbox">
            <label class="form-check-label" for="user-story-checkbox-2">
              User Story2:
            </label>
          </li>
        </ul>
      </div>
      <div class="tab-pane fade" id="nav-learning-resources" role="tabpanel" aria-labelledby="nav-learning-resources-tab">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="tab-pane fade" id="nav-team" role="tabpanel" aria-labelledby="nav-team-tab">team</div>
    </div>
  </div>

</div>
{% endblock %}
